/*
Theme Name: bordiinlegno
Description: A child theme of shoppingcart Theme
Author: Marco
Version: 1.0.1
Template: shoppingcart
*/
@import url("../shoppingcart/style.css");

.product-subtotal
{
    text-align: right; 
}

.product-total
{
    text-align: right; 
}

.cart-subtotal {
    text-align: right; 
}

.order-total {
    text-align: right; 
}

.tax-total
{
    text-align: right; 
    visibility: hidden;
}

.btn-help
{
    text-align: left; 
    width: 20em !important;
    padding: 1em;
}

.woocommerce-Price-amount.amount {
    color: #f77426;
    font-size: 22px;
}

p {
    padding: 0;
    margin: 5px 0 20px;
}

.woocommerce div.product .stock {
    color: #54f110;
    font-size: 1em !important;
}

.grecaptcha-badge{
    display: none;
    visibility: hidden;
}
.google-recaptcha-v3 a,
.google-recaptcha-v3 {
    font-size: 10px;
    color: #999;
}


@media all and (max-width: 2440px) {
    .entry-content
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
          "header header header"         
          "subtitle subtitle subtitle"
          "images images images"
          "hometext hometext hometext"
          "cta cta cta"          
          "categories categories categories";
    }

    .page-title{
        grid-area: header;
        justify-self: center;
    }

    .subtitle
    {
        grid-area: subtitle;
        padding-left: 1em;
        padding-right: 1em;
    }

    .homeimages
    {
        grid-area: images;
        justify-content: center;
        justify-self: center;
        padding-right: 1em;        
    }

    .hometext
    {
        grid-area: hometext;
        padding-left: 1em;
        padding-right: 1em;          
    }

    .call-toaction-home{
        grid-area: cta;
        justify-self: center;
    }

    .categorieshome{
        grid-area: categories;   
        justify-self: center;
        align-self: center;
    }
}